FLASK_ENV=development
SECRET_KEY=changez-ceci-en-production
DEBUG=True

DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=jasper_reports_db
DB_USER=sa
DB_PASSWORD=VotreMotDePasse@Fort

JWT_SECRET_KEY=changez-ce-secret-jwt
JWT_ACCESS_TOKEN_EXPIRES=3600
JWT_REFRESH_TOKEN_EXPIRES=604800

JASPER_BASE_URL=http://localhost:8080/jasperserver
JASPER_USERNAME=jasperadmin
JASPER_PASSWORD=jasperadmin

FRONTEND_URL=http://localhost:5173
